tensorflow==2.16.1
matplotlib
seaborn
Cython==0.29.36
scikit-learn==1.0.2
numpy==1.26.4
matplotlib
PIL
pandas
numpy
kaggle
opencv-contrib-python
opencv-contrib-python-headless
opencv-python
opencv-python-headless
